@{
    ViewData["Title"] = "Test Page";
}
<h1>@ViewData["Title"]</h1>

<p>Test tHTML</p>

<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>